@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Lexend+Deca:wght@300;400&family=Manrope:wght@500;700&family=Open+Sans:wght@400;700&family=Plus+Jakarta+Sans:wght@500;800&family=Poppins:wght@200;400;600&family=Raleway:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(210, 46%, 95%);

}
.drawers{
    justify-content:center ;
    align-content: center;
    /* margin-top: auto; */
}
#drawers {
    margin: 70px auto 0px auto;
    border-radius: 5px 5px 0px 0px;
    /* max-height: 250px; */
    width: 300px;
    display: block;
}

.drawers2 {
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 220px;
    width: 300px;
    background-color: #fff;
    /* margin: 0 0 0 40px; */
    /* border-radius: 0 0 15px 15px; */
}

.p1 {
    color: hsl(217, 19%, 35%);
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    text-align: left;
    padding: 40px 20px 0 20px;
}

.p2 {
    color: hsl(214, 17%, 51%);
    font-family: 'Manrope', sans-serif;
    font-size: 13.5px;
    font-weight: 500;
    padding: 20px 23px 0 20px;
}
#iconContainer{
    /* margin-top: 20px; */
    height: 70px;
    width: 300px;
    background-color: hsl(217, 19%, 35%);
    display: flex;
    display: none;
    margin: auto;
    border-radius: 0 0 5px 5px;
    /* padding: auto; */
    /* justify-content: space-between; */
}
#iconContainer svg{
    margin-right: 10px;
    display: inline-block;
}

#img2 {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    margin: 3px 0 0 20px;
}

#testimonial {
    border-radius: 0 0 10px 10px;
    margin: auto;
    background-color: #fff;
    height: 70px;
    width: 300px;
    display: flex;
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: hsl(217, 19%, 35%);
}

#name {
    padding: 10px 0 0 15px;
}

#date {
    font-size: 10px;
    font-weight: normal;
    color: hsl(214, 17%, 51%);
}

#share {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background-color: hsl(210, 46%, 95%);
    margin: 5px 0 0 65px;
}

#share2{
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background-color: hsl(214, 17%, 51%);
    margin-left: 40px;
    /* margin: 25px 0 0 65px; */
}

#share svg {
    margin-top: 7px;
    margin-left: 9px;
    margin-right: 1px;
    cursor: pointer;
}
#share2 svg{
    margin-top: 7px;
    margin-left: 9px;
    margin-right: 1px;
    cursor: pointer;
}
#icspan{
    color: #fff;
    font-family: 'Manrope', sans-serif;
    margin-right: 40px;
    font-weight: lighter;
    color: hsl(212, 23%, 69%);
    /* text-align: justify; */
}
.subicon{
    justify-content: center;
    display: flex;
    padding-right: 10px;
    padding-top: 20px;
    border-radius: 0px 0px 5px 5px;
}
.subicon #twitter{
    padding-top:10px ;
}


@media screen and (min-width:800px) {
    .drawers {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        margin-top: 300px;
    }

    #drawers {
        border-radius: 5px 0px 0px 5px;
        height: 340px;
        width: 400px; 
        margin: 300px 0px 0px 0px;
        display: inline-block;
    }
    .drawers2{
        display: flex;
       width: 530px;
       margin: 0px 0px 0px 0px;
       height: 250px;
       border-radius: 0px 5px 5px 0px;
       padding: 0 0 0 20px;
    }
    .p1{
        font-size: 26px;
    }
    .p2{
        font-size: 18px;
        /* background-color: pink; */
        position: relative;
    }
    #iconContainer{
        height: 70px;
        width: 300px;
        background-color: hsl(217, 19%, 35%);
        /* display: flex; */
        display: show;
        margin-top: 20px;
        margin-left: 300px;
        border-radius: 5px 5px 5px 5px;
        position: absolute;
        box-shadow: 1px -1px 20px hsl(0, 0%, 77%);
        /* padding: auto; */
        /* justify-content: space-between; */
    }
    #img2{
        height: 60px;
        width: 60px;
        border-radius: 60px;
    }
    #name{
        font-size: 17px;
    }
    #date{
        font-size: 15px;
    }
    .icon{
        height: 40px;
        width: 40px;
        margin: 25px 0px 0px 190px;
    }
    .icon svg{
        margin-top: 12px;
        margin-left: 14px;
        height: 15px;
        width: 15px;
    }
    #testimonial {
        border-radius: 0 0 5px 5px;
        /* margin: auto; */
        margin: 0 0 0 0;
        background-color: #fff;
        height: 90px;
        width: 530px;
        display: show;
        /* display: none; */
        /* display: flex; */
        font-family: 'Manrope', sans-serif;
        font-size: 12px;
        font-weight: 700;
        color: hsl(217, 19%, 35%);
    }
    #share {
        height: 30px;
        width: 30px;
        border-radius: 30px;
        background-color: hsl(210, 46%, 95%);
        margin: 10px 0 0 170px;
    }
    .all{
        display: flex;
        justify-content: center;
    }
    
}